@import '_variables.scss';
@import '_mixins.scss';

.editForm, .addForm {
    margin: auto;
    width: 100%;
    
    .user_name, .book_name {
        font-size: 48px;
        text-align: center;
    }
    .formUser, .formBook {
        height: 30px;
        width: 100%;
    }
    .button-color {
        background-color: $bg-color;
        color: $color_white;
        &:hover {
            background: $text_color;
        }
    }
}

@media (min-width: 576px) {

    .editForm,
    .addForm {
        width: 50% !important;
    }

    .formUser,
    .formBook {
        width: 50% !important;
    }

    .user_name,
    .book_name {
        font-size: 50px !important;
    }
}

@media (min-width: 769px) {
    .editForm, .addForm {
        width: 50% !important;
    }
    .formUser, .formBook {
        width: 35% !important;
    }
    .user_name,
    .book_name {
        font-size: 50px !important;
    }
}